@font-face {
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
}

.all_content {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
}

h2 {
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

.over_header {
    background-color: #f6f2f2;
}

.over_first_floor {
    background-color: #f6f2f2;
}

.menu_header {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    min-height: 89px;
    background-color: #000000;
}

.header {
    padding-top: 29px;
}

.header_line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 89px;
}

.menu_item:hover {
    background-color: #ff3f40;
}

.menu_link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.main_content {
    flex-grow: 1;
}

.first_floor,
.provide,
.feature,
.team,
.subscribe,
.feedback_body,
.footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 103px;
    padding-bottom: 94px;
}

.first_floor_content {
    position: relative;
    bottom: 11px;
    width: 617px;
    margin-bottom: 20px;
    margin-right: 75px;
}

.first_floor_heading {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: 800;
}

.first_floor_text {
    max-width: 520px;
    margin-bottom: 51px;
    opacity: 0.7;
}

.first_floor_button {
    box-sizing: border-box;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.first_floor_button_red {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff2d2d;
}

.first_floor_image {
    width: 551px;
    height: 356px;
    box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}

.provide {
    padding-top: 106px;
    padding-bottom: 53px;
    border-bottom: 1px solid #ececec;
}

.provide_head {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.provide_heading {
    position: relative;
    bottom: 5px;
    margin-bottom: 27px;
}

.provide_text {
    margin-bottom: 51px;
}

.button_lean {
    font-size: 15px;
    color: #ff3f40;
    background-color: #ffffff;
    border: 2px solid #ff3f40;
}

.provide_lists {
    flex: 1 1;
    max-width: 609px;
    display: flex;
    flex-wrap: wrap;
}

.list {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
}

.list:nth-child(odd) {
    margin-right: 32px;
}

.list_heading {
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.list_heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 23px;
}

.list_text {
    opacity: 0.7;
}

.manage::before {
    content: url('../img/provide1.svg');
}

.design::before {
    content: url('../img/provide2.svg');
}

.logo::before {
    content: url('../img/provide3.svg');
}

.animation::before {
    content: url('../img/provide4.png');
}

.feature {
    padding-top: 94px;
    padding-bottom: 52px;
}

.feature_header {
    width: 100%;
    text-align: center;
    margin-bottom: 67px;
}

.feature_heading {
    padding-left: 14px;
    margin-bottom: 16px;
}

.feature_text {
    max-width: 500px;
    margin: 0 auto 30px;
    opacity: 0.7;
}

.products_cart {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.products_link {
    position: relative;
    left: 45px;
    color: #000;
    margin-right: 55px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.7;
}

.products_link_active {
    color: #ff2d2d;
    opacity: 1;
}

.products_link:hover {
    color: #ff2d2d;
}

.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
}

.team {
    padding-top: 60px;
    padding-bottom: 110px;
}

.team_header {
    width: 100%;
    text-align: left;
    margin-bottom: 67px;
}

.team_heading {
    margin-bottom: 23px;
}

.team_text {
    max-width: 460px;
    margin-bottom: 30px;
}

.team_line {
    margin-left: 0;
}

.team_members {
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: space-between;
    min-height: 458px;
}

.team_photo_head {
    flex-shrink: 0;
    width: 321px;
    height: 458px;
    margin-right: 65px;
    align-self: start;
}

.team_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 642px;
    margin-top: -7px;
}

.team_about {
    margin-bottom: 34px;
}

.team_name {
    bottom: 5px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 16px;
}

.team_links {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_link {
    color: #000;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    padding-right: 24px;
}

.team_link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member_name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}

.member:hover > .member_name {
    visibility: visible;
}

.member_photo {
    display: block;
    width: 197px;
    height: 214px;
    background-color: #d4dce680;
}

.subscribe {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px;
}

.subscribe_header {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.subscribe_heading {
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    margin-bottom: 30px;
}

.subscribe_text {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 50px;
}

.subscribe_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe_form .subscribe_input {
    color: #8e8e8e;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 1 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 22px;
    background-color: #fff;
}

.subscribe_form .subscribe_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
}

.feedback::after {
    height: 100%;
    background-color: #2c2c2c;
}

.feedback_header {
    box-sizing: border-box;
}

.feedback_heading {
    margin-bottom: 34px;
}

.feedback_text {
    max-width: 720px;
    margin-bottom: 50px;
}

.feedback_line {
    margin-left: 0;
    margin-bottom: 75px;
}

.feedback_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 731px;
    margin-right: 107px;
    padding-left: 0;
    padding-right: 0;
}

.feedback_left-box {
    flex: 1 1 auto;
}

.feedback_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback_input {
    color: #8e8e8e;
    box-sizing: border-box;
    padding-left: 54px;
    padding-right: 54px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 45px;
}

.login,
.mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 339px;
    height: 69px;
    background-color: #f3f3f3;
}

.message {
    resize: none;
    font-size: 16px;
    width: 100%;
    max-width: 731px;
    height: 252px;
    box-sizing: border-box;
    padding: 35px 54px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.feedback_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 731px;
    height: 72px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.contacts {
    box-sizing: border-box;
    position: relative;
    color: #e0e0e0;
    background-color: #2c2c2c;
    box-sizing: border-box;
    padding: 125px 53px 125px 78px;
    min-height: 481px;
    max-width: 411px;
    margin-bottom: 94px;
}

.contacts_heading {
    color: #e0e0e0;
    font-size: 18px;
    margin-bottom: 13px;
}

.contacts_address {
    line-height: 1.75;
}

.contacts_line {
    margin-bottom: 17px;
}

.feedback_right-box {
    min-height: 481px;
    flex: 1 1 auto;
    margin-bottom: 94px;
}

.contacts_decor {
    background-color: #2c2c2c;
}

.contacts::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 100%;
    background-color: #2c2c2c;
}

.footer {
    background-color: #2c2c2c;
    padding: 0 1vw;
}

.footer_content {
    box-sizing: border-box;
    padding: 19px 0 0;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    background-color: #2c2c2c;
}

.footer_link {
    display: inline-block;
}

.footer_image {
    width: 30px;
    height: 30px;
}

.footer_links > .footer_link:not(:last-child) {
    margin-right: 18px;
}

@media screen and (max-width: 1286px) {
    .first_floor {
        flex-wrap: nowrap;
    }
    .first_floor_content {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 15px;
    }
    .first_floor_heading {
        font-size: 5vw;
    }
    .first_floor_link {
        width: 50%;
    }
    .first_floor_image {
        width: 100%;
        height: auto;
    }
    .products {
        justify-content: flex-start;
    }
    .product {
        max-width: 100%;
        margin-right: 1vw;
    }
    .feedback {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0 1vw;
    }

    .feedback_body {
        margin-right: 0;
    }
    .feedback {
        flex-wrap: wrap;
        padding-left: initial;
        padding-right: initial;
        padding-bottom: 0;
    }

    .feedback_left-box {
        flex: 0 1 auto;
    }
    .contacts {
        width: 100%;
        max-width: 100%;
    }

    .feedback::after {
        content: initial;
    }
}

@media screen and (max-width: 907px) {
    .provide_head,
    .provide_lists {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .products_item {
        width: 100%;
        text-align: center;
    }
    .provide {
        justify-content: center;
    }
}

@media screen and (max-width: 855px) {
    .team_members {
        display: flex;
        flex-wrap: wrap;
    }
    .team_photo_head {
        margin-bottom: 18px;
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .provide_head {
        width: 100%;
        max-width: 100%;
    }
    .provide_lists {
        width: 100%;
        max-width: 100%;
    }
    .contacts {
        padding: 1vw;
    }
}

@media screen and (max-width: 760px) {
    .login,
    .mail,
    .message,
    .button {
        width: 100%;
    }
    .login {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .header {
        padding-left: 20px;
    }
    .first_floor {
        flex-wrap: wrap;
    }
    .first_floor_content {
        width: 100%;
    }
    .first_floor_link {
        width: 100%;
    }
    .first_floor_image {
        width: 100%;
        height: auto;
    }
    .first_floor_heading {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    .subscribe_form {
        flex-wrap: wrap;
    }
}
